 .work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
}
/* navbar style */
header{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    
}
.color{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-main a{
 text-decoration: none;
 color: white;

}
.nav-main ul{
    margin-right: 30px;
}
.nav-main li {
    display: inline;
    margin-right: 20px;
    color: white;
    
}
.nav-logo{
    color: white;
    font-size: 1.5rem;
}
.nav-btn button{
    padding: 13px 12px;
    border-radius: 26px;
    font-weight: 500;
    border: none;
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    transition: transform 1s;
    
}
.nav-btn button:hover{
    transform: translate(5px);
}

/* banner part */
.hero-main{
   min-height: 100vh;
    width: 100%;
    background: url(B13-A02-TechWave/assets/hero-bg.png) no-repeat center center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-circle{
    position: absolute;
    top: 15%;
    left: 39.5%;
    
}
.hero-circle img:first-child{
    width: 55vw;
    max-width: 260px;
    min-width: 180px;
}
.mic{
    position: absolute;
    top: 17%;
    left: 30%;
}
.hero-content{
    margin-top: 350px;
    color: #FFFFFF;
}
.hero-content h1{
    font-size: 3rem;
   

}


.hero-content p{
    font-size: 0.8rem;
    padding-bottom: 20px;
}
.hero-btn button{
    padding: 12px 22px;
    border-radius: 30px;
    
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

    .btn1{
        border: none;
        background: linear-gradient(to right,  #F7E93F 0%, #FB09B4 51%, #9100F8 100% );
        color: #FFFFFF;
    }
    .btn2{
        border: 2px solid #00FF88;
        color: #00FF88;
        background: none;
    }

    .hero-btn button:hover{
        transform: translate(5px);
    }

/* about section */
.about{
    background-color: #1A0B2E;
   
    padding-top: 60px;
    
}
.about-content{
    text-align: center;
   color: aliceblue;

}
.about-content p{
    max-width: 700px;
    margin:0 auto;
    font-size: smaller;
    padding-bottom: 20px;
}
.about-content .last{
    margin-bottom: 40px;
    border-bottom: 0.1px solid ;
    padding-bottom: 40px;
}
.about-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
}
.card h1{
    color: #00FF88;
}
.card p{
    color: white;
    padding-bottom: 30px;
}

/* grid section */
.section-tittle{
    text-align: center;
    padding: 30px 0 10px;
    color: #FFFFFF;
}
.grid-section{
    background-color: #230E3D;
    margin-top: 0px;
    padding-top: 40px;
    color: white;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding-bottom: 40px;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
}
.grid-box{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 20px;
    border-radius: 20px;
}
.grid-box p{
    font-size: 0.8rem;
}
.fat-grid{
    grid-row: span 2;
}
.big-grid{
    grid-column: span 2;
}

/* video part */
.video-section{
    background-color: #1A0B2E;
    padding-bottom: 50px;
    padding-top: 20px;
}
.video-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    justify-items: center;
    width: 85%;
    margin: auto;
}
.video-card{
    max-width: 300px;
    height: 400px;
    padding: 10px;
    margin-bottom: 50px;
    
    border-radius: 20px;
    background-color: #250D44;
}
.video-card .video{
   
    
    border-radius: 5px;
}
.video-card h3{
    color: aliceblue;
}
.video-card p{
    color:#FFFFFF ;
    font-size: 0.8rem;
}
.clock{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 6px;
}
.clock p{
    font-weight: 600;
    color: #00FF88;
}
.host-conteiner{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #250D44;
    width: 71%;
    margin: auto;
    padding: 20px;
    gap: 12px;
    border-radius: 25px;
    color: #FFFFFF;
    

}
.host-content ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 20px;
}
.host-content h2{
    font-weight: 600;
}
.host-content p{
    font-size: 0.8rem;
}

.host-content li{
    border: 0.1px solid grey ;
    padding: 8px 8px 4px;
    border-radius: 50%;
}
/* this is footer part */
footer{
    padding-top: 50px;
    width: 100%;
    background: url(B13-A02-TechWave/assets/footer-bg.png) no-repeat center center/cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 0;
   
    text-align: center;

}
footer h1{
    color: #FFFFFF;
    font-size: 3rem;
}
.icon ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 30px;
    justify-items: center;
   
    padding-top: 20px;
   
}
footer p{
    padding-bottom: 30px;
    padding-top: 70px;
    color: #FFFFFF;
    font-size: 0.8rem;
}

/* responsive style */
@media  screen and (max-width:576px) {
    .nav-main, .nav-btn{
        display: none;
    }

    .about-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-conteiner{
        grid-template-columns: repeat(1, 1fr);
        min-width: 90vw;
    }
    .fat-grid{
    grid-row: span 1;
    max-height:250px ;
    }
    .video-conteiner{
        grid-template-columns: repeat(1, 1fr);
    }
    .video-card{
        width: 80vw;
    }
    
    
    .hero-circle{
        top: 15%;
         left: 23%;
    
    }
    .mic{
    
    top: 10%;
    left: 25%;
}
.host-conteiner{
    flex-direction: column;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.host-content ul{
    margin-right: 20px;
    justify-content: center;
}

.icon ul{
    
    flex-direction: column;
   
}
}

/* out of silebus */
@media screen and (min-width:576px) {
    nav img{
        display: none;
    }
}