 .work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
}
/* navbar style */
header{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    
}

.nav-main a{
 text-decoration: none;
 color: white;

}
.nav-main li {
    display: inline;
    margin-right: 30px;
    color: white;
}
.nav-logo{
    color: white;
}
.nav-btn button{
    padding: 13px 12px;
    border-radius: 26px;
    font-weight: 500;
    
}

/* banner part */
.banner{
    background-color: #1A0B2E;
}
.bg-main{
    width: 100%;
    
}


/* about section */
.about{
    background-color: #1A0B2E;
   
    padding-top: 60px;
    
}
.about-content{
    text-align: center;
   color: aliceblue;

}
.about-content p{
    max-width: 700px;
    margin:0 auto;
    font-size: smaller;
    padding-bottom: 20px;
}
.about-content .last{
    margin-bottom: 40px;
    border-bottom: 1px solid ;
    padding-bottom: 40px;
}
.about-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    
}
.card h1{
    color: #00FF88;
}
.card p{
    color: white;
    padding-bottom: 30px;
}

/* grid section */
.section-tittle{
    text-align: center;
    padding: 30px 0 10px;
}
.grid-section{
    background-color: #230E3D;
    margin-top: 0px;
    padding-top: 40px;
    color: white;
}
.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    padding-bottom: 40px;
    gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}
.grid-box{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 20px;
    border-radius: 20px;
}
.fat-grid{
    grid-row: span 2;
}
.big-grid{
    grid-column: span 2;
}








/* responsive style */
@media  screen and (max-width:576px) {
    .nav-main, .nav-btn{
        display: none;
    }

    .about-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-conteiner{
        grid-template-columns: repeat(1, 1fr);
    }
    .fat-grid{
    grid-row: span 1;
    }
}

/* out of silebus */
@media screen and (min-width:576px) {
    nav img{
        display: none;
    }
}